[submodule "external/libtomcrypt"]
	path = external/libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
[submodule "external/libtommath"]
	path = external/libtommath
	url = https://github.com/libtom/libtommath.git
[submodule "external/ncbind"]
	path = external/ncbind
	url = https://github.com/uyjulian/ncbind.git
